.bg-index {
    background-image: url(003+background+pattern+designs.jpg);
    background-size: auto;
}

.footer-basic {
    font-family: "azo-sans-web", helvetica, arial, sans-serif;
    padding: 15px 0;
    background-color: #393e46;
    color: #eeeeee;
}

.footer-basic .copyright {
    margin: 0;
    font-family: "azo-sans-web", helvetica, arial, sans-serif;
    text-align: right;
    padding-right: 25px;
    font-size: 15px;
    color: #aaa;
}

.copyright .row {
    text-decoration: none;
    color: #aaa;
}

.main-container {
    border: 3px solid #00adb5;
    border-radius: 25px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 97%;
    align-content: center;
    background-color: #eeeeeebe;
}

.main-container-transparent {
    border: 3px solid transparent;
    border-radius: 25px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 97%;
    align-content: center;
}

.navbar-font {
    font-size: 8px;
}

.content-header {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #393e46;
}

.p-text {
    white-space: pre-wrap;
    text-align: justify;
    font-weight: bold;
    font-size: 22px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.image-rounding {
    border: 5px;
    border-color: #0dcaf0;
    border-radius: 25px;
}

.responsive-fs {
    font-size: 15px;
    font-weight: 630;
    text-align: justify;
}

.font-border {
    -webkit-text-stroke: 1.5px black;
}

.content-header2 {
    font-size: 20px;
    color: #393e46;
    font-weight: 600;
}

.bg-turkuaz {
    background-color: #00adb5 !important;
}

.bg-acikmavi {
    background-color: #aad8d3 !important;
}

.bg-koyugri {
    background-color: #393e46 !important;
}

.bg-beyaz {
    background-color: #eeeeee !important;
}

.nav-link:hover:not(.active) {
    background-color: #aad8d3;
    color: #393e46;
}

.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #eeeeee;
    text-decoration: none;
    font-family: "azo-sans-web", helvetica, arial, sans-serif;
    font-size: 9px;
    font-weight: 480;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-custom {
    color: #eeeeee;
    background-color: #00adb5;
    border-color: #00adb5;
}

.btn-custom:hover {
    color: #393e46;
    background-color: #aad8d3;
    border-color: #aad8d3;
}

.btn-custom:focus {
    box-shadow: 0 0 0 0.25rem #aad8d3da;
}

.border-turkuaz {
    border-color: #00adb5 !important;
}

.mesaj-height {
    height: 300px !important;
}

.iletisim-fs {
    font-family: "azo-sans-web", helvetica, arial, sans-serif;
    font-weight: 500;
}

.login-failed {
    font-family: "azo-sans-web", helvetica, arial, sans-serif;
    color: #9c1c1c;
    text-align: center;
    margin-bottom: 8px;
}

.cv-fs {
    font-family: "azo-sans-web", helvetica, arial, sans-serif;
    font-size: 10px;
    font-weight: 800;
}

.cv-table {
    display: table;
    width: 100%;
}

.semi-bold {
    font-weight: 700;
}

.color-grey {
    color: #393e46;
}


/*#region navbar-font&copyright*/

@media (min-width: 576px) {
    .navbar-font,
    .copyright {
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    .navbar-font,
    .copyright {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    .navbar-font,
    .copyright {
        font-size: 16px;
        font-weight: bold;
    }
}

@media (min-width: 1200px) {
    .navbar-font,
    .copyright {
        font-size: 18px;
        font-weight: bold;
    }
}

@media (min-width: 1400px) {
    .navbar-font,
    .copyright {
        font-size: 20px;
        font-weight: bold;
    }
}


/*#endregion navbar-font&copyright*/


/*#region content-header*/

@media (min-width: 576px) {
    .content-header {
        font-size: 35px;
    }
}

@media (min-width: 768px) {
    .content-header {
        font-size: 42px;
    }
}

@media (min-width: 992px) {
    .content-header {
        font-size: 49px;
        font-weight: bold;
    }
}

@media (min-width: 1200px) {
    .content-header {
        font-size: 56px;
        font-weight: bold;
    }
}

@media (min-width: 1400px) {
    .content-header {
        font-size: 63px;
        font-weight: bold;
    }
}


/*#endregion content-header*/


/*#region content-header2*/

@media (min-width: 576px) {
    .content-header2 {
        font-size: 23px;
        font-weight: 550;
    }
}

@media (min-width: 768px) {
    .content-header2 {
        font-size: 26px;
        font-weight: 500;
    }
}

@media (min-width: 992px) {
    .content-header2 {
        font-size: 29px;
        font-weight: 450;
    }
}

@media (min-width: 1200px) {
    .content-header2 {
        font-size: 32px;
        font-weight: 400;
    }
}

@media (min-width: 1400px) {
    .content-header2 {
        font-size: 35px;
        font-weight: 350;
    }
}


/*#endregion content-header2*/


/*#region cv-fs*/

@media (min-width: 576px) {
    .cv-fs {
        font-family: "azo-sans-web", helvetica, arial, sans-serif;
        font-size: 13px;
        font-weight: 700;
    }
}

@media (min-width: 768px) {
    .cv-fs {
        font-family: "azo-sans-web", helvetica, arial, sans-serif;
        font-size: 15px;
        font-weight: 600;
    }
}

@media (min-width: 992px) {
    .cv-fs {
        font-family: "azo-sans-web", helvetica, arial, sans-serif;
        font-size: 18px;
        font-weight: 500;
    }
}

@media (min-width: 1200px) {
    .cv-fs {
        font-family: "azo-sans-web", helvetica, arial, sans-serif;
        font-size: 21px;
    }
}

@media (min-width: 1400px) {
    .cv-fs {
        font-family: "azo-sans-web", helvetica, arial, sans-serif;
        font-size: 24px;
    }
}


/*#endregion cv-fs*/


/*#region responsive-fs*/

@media (min-width: 576px) {
    .responsive-fs {
        font-size: 18px;
        font-weight: 550;
    }
}

@media (min-width: 768px) {
    .responsive-fs {
        font-size: 21px;
        font-weight: 500;
    }
}

@media (min-width: 992px) {
    .responsive-fs {
        font-size: 24px;
        font-weight: 450;
    }
}

@media (min-width: 1200px) {
    .responsive-fs {
        font-size: 27px;
        font-weight: 400;
    }
}

@media (min-width: 1400px) {
    .responsive-fs {
        font-size: 30px;
        font-weight: 350;
    }
}


/*#endregion responsive-fs*/

@media (max-width: 768px) {
    .footer-basic {
        font-family: "azo-sans-web", helvetica, arial, sans-serif;
        padding: 8px 0;
        background-color: #393e46;
        color: #eeeeee;
    }
}