.bg-index {
  background-image: url(003+background+pattern+designs.jpg);
  background-size: auto;
}

.footer-basic {
  font-family: "azo-sans-web", helvetica, arial, sans-serif;
  padding: 15px 0;
  background-color: #393E46;
  color: #eeeeee;
}

.footer-basic .copyright {
  margin: 0;
  font-family: "azo-sans-web", helvetica, arial, sans-serif;
  text-align: right;
  padding-right: 25px;
  font-size: 15px;
  color: #aaa;
}

.copyright .row {
  text-decoration: none;
  color: #aaa;
}

.main-container {
  border: 3px solid #00ADB5;
  border-radius: 25px;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 97%;
  align-content: center;
  background-color: #eeeeeebe;
}

.content-header {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  color: #393E46;
}

.p-text {
  white-space: pre-wrap;
  text-align: justify;
  font-weight: bold;
  font-size: 22px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.image-rounding{
  border:3px;
  border-color: black;
  border-radius: 25px;
}

.responsive-fs{
  font-size: 15px;
  font-weight: 630;
  text-align: justify;
}

.font-border{
  -webkit-text-stroke: 1px black;
}

@media (min-width: 576px) {
  .navbar-font ,.copyright {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .navbar-font ,.copyright {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .navbar-font ,.copyright {
    font-size: 16px;
    font-weight: bold;
  }
}

@media (min-width: 1200px) {
  .navbar-font ,.copyright {
    font-size: 18px;
    font-weight: bold;
  }
}

@media (min-width: 1400px) {
  .navbar-font ,.copyright {
    font-size: 20px;
    font-weight: bold;
  }
}

@media (min-width: 576px) {
  .content-header {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  .content-header {
    font-size: 42px;
  }
}

@media (min-width: 992px) {
  .content-header {
    font-size: 49px;
    font-weight: bold;
  }
}

@media (min-width: 1200px) {
  .content-header {
    font-size: 56px;
    font-weight: bold;
  }
}

@media (min-width: 1400px) {
  .content-header {
    font-size: 63px;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .footer-basic {
    font-family: "azo-sans-web", helvetica, arial, sans-serif;
    padding: 8px 0;
    background-color: #393E46;
    color: #eeeeee;
  }
}

@media (min-width: 576px){
  .responsive-fs{
    font-size: 18px;
    font-weight: 550;
  }
}

@media (min-width: 768px){
  .responsive-fs{
    font-size: 21px;
    font-weight: 500;
  }
}

@media (min-width: 992px){
  .responsive-fs{
    font-size: 24px;
    font-weight: 450;
  }
}
@media (min-width: 1200px){
  .responsive-fs{
    font-size: 27px;
    font-weight: 400;
  }
}
@media (min-width: 1400px){
  .responsive-fs{
    font-size: 30px;
    font-weight: 350;
  }
}